.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #333;
  border-radius: 8px;
  display:flex;
  height:45vh;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding-top:10px;
  width: 35vw;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e63946;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h2 {
  color: white;
  margin-top: 0;
}

select {
  margin-bottom: 20px;
}
